#container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.ezfair {
    float: left;
    height: 100%;
}

.account {
    float: right;
    height: 100%;
}

.searchbar {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    height: 100%;
    justify-content: space-between; 
}

.searchterm {
    width: 80%; 
    border: 3px solid #DEA402;
    border-right: none;
    padding: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #474747;
}

.searchicon {
    width: 35px;
    height: 100%;
    border: 1px solid #DEA402;
    background: #DEA402;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
