@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-color: #121212;
    }
    h1, h2, p, li {
        color: white;
    }
</style>

<div class="container">
    <h1 class="text-center mt-5" style="text-align: center; color: #DEA402; font-size: 4em; text-shadow: 1px 1px 0px white;">Política de Privacidade</h1>
     <br>
     <p>O nosso site, a EZFair, está comprometido em proteger a privacidade e as informações pessoais de nossos usuários. Esta política de privacidade descreve os tipos de informações pessoais que coletamos, como as usamos e as etapas que tomamos para protegê-las.</p>
     <h2>Coleta e uso de informações</h2>
     <p>Podemos recolher os seguintes tipos de informações pessoais dos utilizadores:</p>
     <ul>
         <li><p>Informações Pessoais, como nome e endereço de e-mail</p></li>
         <li><p>Dados de uso, como histórico e preferências de navegação no website</p></li>
     </ul>
     <p>Usamos essas informações para personalizar a experiência do utilizador, melhorar nossos serviços e enviar comunicações promocionais e informativas. Os utilizaodres podem optar por não receber comunicações entrando em contato connosco em support@ezfair.com.</p>
     <h2>Cookies e tecnologias de rastreamento</h2>
     <p>Usamos cookies e outras tecnologias de rastreamento para melhorar a experiência do usuário e coletar dados analíticos. Um cookie é um pequeno arquivo de letras e números que armazenamos em seu navegador ou no disco rígido de seu dispositivo, se você concordar. Os cookies contêm informações que são transferidas para o disco rígido do seu dispositivo. Você pode desativar os cookies nas configurações do seu navegador, mas observe que isso pode afetar sua capacidade de usar determinados recursos do nosso site.</p>
     <h2>Segurança de dados</h2>
     <p>Tomamos as medidas apropriadas para proteger as informações pessoais de nossos utilizadores contra acesso, uso ou divulgação não autorizados. O nosso website segue os padrões do setor para proteger as informações pessoais enviadas a nós, tanto durante a transmissão quanto após o recebimento.</p>
     <p>Também implementamos diretrizes internas rígidas para garantir a segurança e a confidencialidade das informações do usuário.</p>
     <h2>Serviços de terceiros</h2>
     <p>O nosso website pode conter links para outros sites e serviços. Não somos responsáveis pelas práticas de privacidade ou pelo conteúdo desses serviços de terceiros. Incentivamos os usuários a ler as políticas de privacidade desses serviços de terceiros antes de fornecer qualquer informação pessoal.</p>
     <h2>Mudanças nesta Política de Privacidade</h2>
     <p>Reservamos o direito de atualizar ou modificar esta política de privacidade a qualquer momento. Se fizermos alguma alteração, notificaremos os utilizadores por meio de um aviso em nosso site ou enviando um e-mail para o endereço de e-mail fornecido. Os utilizadores são incentivados a revisar esta política de privacidade periodicamente para se manterem informados sobre quaisquer atualizações.</p>
     <h2>Fale connosco</h2>
     <p>Se você tiver alguma dúvida ou preocupação sobre esta política de privacidade ou suas informações pessoais, entre em contato connosco pelo e-mail support@ezfair.com.</p>
     <br>
     <br>
</div>